@model AgroVisitWeb.Models.ClienteViewModel

@{
    ViewData["Title"] = "Deletar Clientes";
}

<div class="container pt-5">
    <div>
        <h1 class="col-6">Deletar Cliente</h1>
        <h3>Tem certeza que deseja realizar esta operação?</h3>
        <a class="btn btn-success borda-concluir" id="border" asp-action="Index">Voltar</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
    <dl class="row">
        <p><b>Endereço:</b></p>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-3">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>
        <dd class="col-5">
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-3">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-2">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Delete">
        <input id="border" type="submit" value="Deletar" class="btn btn-danger" />
    </form>
</div>
