@model AgroVisitWeb.Mappers.ClienteProfile

<h3>Tem certeza que deseja realizar esta operação?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowNullDestinationValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowNullDestinationValues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowNullCollections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowNullCollections)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
