@model AgroVisitWeb.Models.ClienteViewModel

@{
    ViewData["Title"] = "Detalhes de Cliente";
}

<div class="container pt-5">
    <div class="row">
        <h1 class="col-6">Detalhes de cliente</h1>
        <a class="btn btn-success borda-concluir" id="border" asp-action="Index">Voltar</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-2">
                @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-10">
                @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
    <dl class="row">
        <p><b>Endereço:</b></p>
        <dt class="col-2">
                @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-10">
                @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-2">
                @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-3">
                @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>
        <dd class="col-5">
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>
        <dt class="col-2">
                @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-3">
                @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-2">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
                @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-10">
                @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>

<h2><br>Propriedades do cliente</h2>

<div class="container p-4">
    @if (Model.ListaPropriedade != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaPropriedade.First().Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaPropriedade.First().Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaPropriedade.First().Cidade)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaPropriedade)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class=" container p-4">
    <a href="@Url.ActionLink("Edit", "Cliente", new {  id = Model.Id })" class="btn btn-success borda-concluir nowrap" id="border">Editar</a>
    <a href="@Url.ActionLink("Delete", "Cliente", new {  id = Model.Id })" class="btn btn-danger border-danger offset-7 nowrap" id="border">Delete</a>
</div>