@model IEnumerable<AgroVisitWeb.Models.VisitaViewModel>

@{
    ViewData["Title"] = "Visitas";
}
<div class="container py-5">
    <h1>Visitas</h1>
    @foreach (var item in Model)
    {
        <div class="col-10 card radius-10 border-start border-0 border-5 border-success" style="background-color:#EFEFEF; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height:min-content">
            <div class="card-header">Visita: @Html.DisplayFor(modelItem => item.DataHora)</div>
            <div class="card-body">
                <h4 class="card-title">Propriedade: @Html.DisplayFor(modelItem => item.NomePropriedade)</h4>
                <p class="card-text">Objetivo: @Html.DisplayFor(modelItem => item.Observacoes)</p>
                <div class="row">
                    <button class="btn btn-outline-success col-4 m-2">@Html.ActionLink("Detalhes", "Details", new { id=item.Id })</button>
                    <button class="btn btn-danger col-4 m-2">@Html.ActionLink("Excluir", "Delete", new { id = item.Id })</button>
                </div>
            </div>

        </div>
    }
</div>
<div>
    <p>
        <a clas="btn btn-primary" asp-action="Create">Adicionar visitas</a>
    </p>
</div>