@model Core.PropriedadeViewModel

@{
    ViewData["Title"] = "Deletar propriedade";
}

<h1>Deletar propriedade</h1>

<h3>Tem certeza que deseja realizar esta operação?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPreservar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaPreservar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ccir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Georreferenciamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Georreferenciamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAnimais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAnimais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonteAlimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonteAlimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaPasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoProducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCultivada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCultivada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cultura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cultura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comercializacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comercializacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoProdAgricola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoProdAgricola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoFitossanidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoFitossanidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCultura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCultura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEngenheiroAgronomo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEngenheiroAgronomo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
