@model AgroVisitWeb.Models.IntervencaoViewModel

@{
    ViewData["Title"] = "Detalhes da Intervenção";
}
<div>
    <h1>Detalhes de visita</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pratica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pratica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTratada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTratada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar</a>
</div>
