@model AgroVisitWeb.Models.ProjetoViewModel

@{
    ViewData["Title"] = "Cadastrar Projeto";
}

<body>
    <div class="container pt-5">
        <div class="row">
            <h1>Cadastrar Projeto</h1>
            <div style="position: relative;">
                <a asp-action="Index" title="Voltar para projetos cadastrados"
                   class="btn rounded-circle shadow-lg d-flex align-items-center justify-content-center"
                   style="width: 50px; height: 50px; background-color: #76B375; border: none;
                  position: absolute; top: -60px; right: 30px;"
                   aria-label="Fechar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 6L18 18M6 18L18 6" stroke="white" stroke-width="2.5" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
        </div>

        <form asp-action="Create" id="border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-5 m-2">
                    <label asp-for="Nome" class="control-label">Nome<span class="text-danger">*</span></label>
                    <input asp-for="Nome" class="form-control border border-success" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-2 m-2">
                    <label asp-for="NumeroVisita" class="control-label"></label>
                    <input asp-for="NumeroVisita" class="form-control border border-success" />
                    <span asp-validation-for="NumeroVisita" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-4 m-2 row">
                    <label asp-for="IdPropriedade" class="control-label"></label>
                    <select asp-for="IdPropriedade" asp-items="@Model.ListaPropriedades" class="form-control border border-success"></select>
                    <span asp-validation-for="IdPropriedade" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 m-2 row">
                    <label>Status do Projeto: <span class="text-danger">*</span></label>

                    <div class="form-check">
                        <input type="radio" id="execucao_radio" asp-for="Status" class="form-check-input" value="EX">
                        <label for="execucao_radio" class="form-check-label">Em Execução</label>
                    </div>

                    <div class="form-check">
                        <input type="radio" id="concluida_radio" asp-for="Status" class="form-check-input" value="C">
                        <label for="concluido_radio" class="form-check-label">Concluído</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-3 m-2">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio"
                       class="form-control border border-success dateInicio-picker flatpickr-input"
                       value="@(Model.DataInicio.ToString("yyyy-MM-dd"))" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>

            <div class="form-group col-1 m-2 row">
                <label asp-for="Valor" class="control-label">Valor<span class="text-danger">*</span></label>
                <input asp-for="Valor" class="form-control border border-success" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-3 m-2">
                    <label asp-for="QuantParcela" class="control-label">Quantidade de parcelas<span class="text-danger">*</span></label>
                    <input asp-for="QuantParcela" class="form-control border border-success" />
                    <span asp-validation-for="QuantParcela" class="text-danger"></span>
                </div>
                <div class="form-group col-3 m-2">
                    <label asp-for="DataPrevista" class="control-label"></label>
                    <input asp-for="DataPrevista"
                           class="form-control border border-success datePrevista-picker flatpickr-input"
                           value="@(Model.DataPrevista.ToString("yyyy-MM-dd"))" />
                    <span asp-validation-for="DataPrevista" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-10 m-2 row">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control border border-success"> </textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            @* <div class="form-group col-2 m-2">
            <!-- <label asp-for="Anexo" class="control-label"></label>
            <!-- <input type="file" name="fileUpload" id="fileUpload" class="noborder" />
            <!-- input asp-for="Anexo" class="form-control" /-->
            <!-- span asp-validation-for="Anexo" class="text-danger"></!span-->
            </div> *@
            <br />
            <div class="container text-end">
                <input type="submit" value="Concluir" class="btn btn-success borda-concluir" />
            </div>
        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                flatpickr(".dateInicio-picker", {
                    enableTime: false,
                    dateFormat: "d/m/Y",
                    locale: "pt",
                    allowInput: false,
                    maxDate: "today",
                    defaultDate: "@(Model.DataInicio.ToString("yyyy-MM-dd"))",
                    onReady: function(instance) {
                        if (!instance.input.value) {
                            instance.clear();
                        }
                    }
                });

                flatpickr(".datePrevista-picker", {
                    enableTime: false,
                    dateFormat: "d/m/Y",
                    locale: "pt",
                    allowInput: false,
                    maxDate: "today",
                    defaultDate: "@(Model.DataPrevista.ToString("yyyy-MM-dd"))",
                    onReady: function(instance) {
                        if (!instance.input.value) {
                            instance.clear();
                        }
                    }
                });
            });
        </script>
    }
</body>