@model AgroVisitWeb.Models.ProjetoViewModel

@{
    ViewData["Title"] = "Detalhes do projeto";
}

<h1>Detalhes do projeto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVisita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropriedade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropriedade)
        </dd>
    </dl>
</div>
<div>
    <br />
    <h4>Intervenções</h4>
    @if (Model.ListaIntervencoes != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaIntervencoes.First().Pratica)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaIntervencoes)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Pratica)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <br />
    <h4>Contas</h4>
    @if (Model.ListaContas != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListaContas.First().Valor)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaContas)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Voltar</a>
</div>
