@model AgroVisitWeb.Models.ProjetoViewModel

@{
    ViewData["Title"] = "Detalhes do Projeto";
}


<div class="container pt-5">

    <div class="row">
        <h1>Detalhes do Projeto</h1>
        <div style="position: relative;">
            <a asp-action="Index" title="Voltar para projetos cadastrados"
               class="btn rounded-circle shadow-lg d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px; background-color: #76B375; border: none;
           position: absolute; top:  -60px; right: 30px;"
               aria-label="Fechar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 6L18 18M6 18L18 6" stroke="white" stroke-width="2.5" stroke-linecap="round" />
                </svg>
            </a>
        </div>
    </div>
   
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Informações do Projeto</h4>
            <dl class="row mt-3">
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.Nome):</dt>
                    <dd>@Html.DisplayFor(model => model.Nome)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.Status):</dt>

                    @if (Model.Status.StartsWith('C'))
                    {
                        @Html.DisplayName("Concluído")
                    }
                    else
                    {
                        @Html.DisplayName("Em Execução")
                    }
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.NomeCliente):</dt>
                    <dd>@Html.DisplayFor(model => model.NomeCliente)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.NomePropriedade):</dt>
                    <dd>@Html.DisplayFor(model => model.NomePropriedade)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.QuantParcela):</dt>
                    <dd>@Html.DisplayFor(model => model.QuantParcela)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.DataPrevista):</dt>
                    <dd>@Html.DisplayFor(model => model.DataPrevista)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.DataInicio):</dt>
                    <dd>@Html.DisplayFor(model => model.DataInicio)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.Valor):</dt>
                    <dd>@Html.DisplayFor(model => model.Valor)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.dataConclusao):</dt>
                    <dd>@Html.DisplayFor(model => model.dataConclusao)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.NumeroVisita):</dt>
                    <dd>@Html.DisplayFor(model => model.NumeroVisita)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.Descricao):</dt>
                    <dd>@Html.DisplayFor(model => model.Descricao)</dd>
                </div>
                <div class="col-md-6 d-flex">
                    <dt class="me-2">@Html.DisplayNameFor(model => model.Anexo):</dt>
                    <dd>@Html.DisplayFor(model => model.Anexo)</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-3 mt-4">
        <a id="border" class="btn btn-success borda-concluir" href="@Url.ActionLink("Edit", "Projeto", new { id = Model.Id })">Editar</a>
        <a id="border" class="btn btn-danger " href="@Url.ActionLink("Delete", "Projeto", new { id = Model.Id })">Excluir</a>
    </div>

    <h2 class="mt-5">Intervenções do Projeto</h2>
    <div class="container-fluido">
        <div class="table-responsive mt-3">
            @if (Model.ListaIntervencoes != null && Model.ListaIntervencoes.Any())
            {
                <div class="row">
                    @foreach (var item in Model.ListaIntervencoes)
                    {
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="flex-grow-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>@Html.DisplayNameFor(model => item.Pratica):</strong> @Html.DisplayFor(model => item.Pratica)
                                    </div>
                                    <div class="col-md-4">
                                        <strong>@Html.DisplayNameFor(model => item.DataAplicacao):</strong> @Html.DisplayFor(model => item.DataAplicacao)
                                    </div>
                                    @if(item.Status.StartsWith('A')){
                                        <div class="col-md-4">
                                            <strong>@Html.DisplayNameFor(model => item.Status):</strong> @Html.DisplayName("Agendada")
                                        </div>
                                    }
                                    else if (item.Status.StartsWith('E'))
                                    {
                                        <div class="col-md-4">
                                            <strong>@Html.DisplayNameFor(model => item.Status):</strong> @Html.DisplayName("Em Execução")
                                        </div>
                                    } else
                                    {
                                        <div class="col-md-4">
                                            <strong>@Html.DisplayNameFor(model => item.Status):</strong> @Html.DisplayName("Concluída")
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="ms-3">
                                <a id="border" class="btn btn-success borda-concluir" data-intervencao-id="@item.Id" data-url-edit="@Url.Action("Edit", "Intervencao")">Editar</a>
                                <a id="border" class="btn btn-success borda-concluir" href="@Url.ActionLink("Details", "Intervencao", new { id = item.Id })">Detalhes</a>
                            </div>

                        </div>
                    }
                </div>
            }
            else
            {
                <p>Nenhuma intervenção encontrada.</p>
            }

        </div>

    </div>

    <button id="abrirIntervencaoModalCreate" class="btn btn-success borda-concluir" data-projeto-id="@Model.Id" data-url-create="@Url.Action("Create", "Intervencao")">
        Adicionar intervenção
    </button>

    <div class="modal fade" id="createIntervencaoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Nova Intervenção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- O conteúdo será carregado aqui -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editIntervencaoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Intervenção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Conteúdo será carregado aqui -->
                </div>
            </div>
        </div>
    </div>

</div>


<!--<div>
    <br />
    <h4>Contas</h4>
@if (Model.ListaContas != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaContas.First().Valor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaContas)
            {
                <tr>
                    <th>
                            @Html.DisplayFor(modelItem => item.Valor)
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
</div>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<script src="~/js/intervencaoJS.js"></script>
